<h2>Preference number <%= preference.id %> details</h2>
<p>Artist sort order: <%= preference.artist_sort_order %></p>
<p>Song sort order: <%= preference.song_sort_order %></p>
<p>Allow create artists: <%= preference.allow_create_artists %></p>
<p>Allow create songs: <%= preference.allow_create_songs %></p>
